@import url('https://fonts.googleapis.com/css?family=Quicksand');
body {

      font: 20px Quicksand, sans-serif;
      line-height: 1.8;
      color:white;
  }
  h1    {color: #6B0F1A;}
  p {font-size: 16px;
  colour:white;}
  .margin {margin-bottom: 25px;}
  .bg-1 {
      background-color: #9B287B; /* Amaranth Deep Purple */
      color: #6B0F1A;;
  }
  .bg-2 {
      background-color: #122932; /* Dark Gunmetal */
      color: white;
  }
  .bg-3 {
      background-color: #FFF5EE; /* Isabelline */
      color: #6B0F1A;
  }
  .bg-4 {
      background-color: #525B76; /* Charcoal */
      color:white ;
  }
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 20px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      color: #6B0F1A;;
      background-color: #D6EDFF !important;
  }
  .navbar-nav  li a:hover {
      color: #6B0F1A;;
      background-color: #D6EDFF !important;
  }
    #message {
      color: red;
  }